/**
    Identity: A Personal One Page Identity Template
    Open Source and Free to Use
    Author: Ayush Agarwal (http://thisisayush.com)
**/
@import url('https://fonts.googleapis.com/css?family=Raleway|Source+Sans+Pro:300');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
/** Reset Styles **/
html, body, h1,h2,h3,h4,h5,h6,div,span,p,ul,li{
    margin: 0;padding: 0;
}
/** Html Elements Default Styles **/
html, body{
    height: 100%;
}
body{
    background: url('../images/background.jpg') no-repeat fixed center;
    background-size: cover;
    font-family: 'Source Sans Pro', sans-serif;
}
body:before{
    content: '';
    position: absolute;
    top:0;left:0;
    right:0;bottom:0;
    width:100%;
    height: 100%;
    background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
	opacity: .6;
}
a{
    text-decoration: none;
    color: inherit;
    opacity: 0.7;
    transition: 0.5s;
    outline: none;
}
a:hover{
    opacity: 1;
}
h1{
    font-weight: 300;
    font-size: 2.2em;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: #414f57;
}
p{
    font-size: 1.1em;
    color:#414f57;
    text-transform: uppercase;
    padding: 2px 5px;
}
/** Helper Classes */
.absolute-center{
    position: absolute;
    top:0;left: 0;
    right: 0; bottom: 0;
    margin: auto;
}
.block-center{
    margin-left: auto;
    margin-right: auto;
}
/** Preloader styles **/
#loader{
    position: fixed;
    top:0; left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #FFF; 
}
#loader .spinner{
    color: #c8cccf;
    width:2em;
    height: 2em;
}
/** Content Styles **/
#wrapper{
    position: relative;
    height: 100%;
    min-height: 520px;
    width: 100%;
    min-width: 320px;
    padding: 50px 20px 20px 20px;
    box-sizing: border-box;
    text-align: center;
}
section#main{
    height: 430px;
    background-color: #FFF;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 50px 0px;
}
.avatar{
    position: relative;
    height: 175px;
    margin-bottom:10px;
    display: block;
    z-index: 0;
    display: block;
}
.avatar img{
    height: inherit;
    border: 20px solid #FFF;
    box-sizing: border-box;
    border-radius: 50%;
}
.avatar::before{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    margin: auto;
    width:100%;
    height: 1px;
    background:#c8cccf;
    z-index: -1;
}
ul.icons{
    padding-top:10px;
    list-style-type: none;
}
ul.icons li{
    display: inline-block;
    margin:0.5em;
    box-sizing: border-box;
    text-align: center;
}
ul.icons li a{
    position: relative;
    width: 3.75em;
    height: 3.75em;
    border: 1px solid #c8cccf;
    border-radius: 100%;
    line-height: 3.75em;
    color: #c8cccf;
    transition: 0.5s;
}
ul.icons li a:hover{
    border-color: #313f47;
    color: #313f47;
}
ul.icons li a:before{
    position: absolute;
    top:0; left:0;
    font-size: 2rem;
    width:inherit;
    height: inherit;
}
#footer{
    position: fixed;
    bottom:0;
    left: 0;
    text-align: center;
    margin-bottom: 1.2em;
    font-weight: 300;
    width: 100%;
}
#footer p{
    letter-spacing: 2px;
    color: #fff;
}
/** Responsive Styles **/
@media all and (min-width:300px){
    section#main{
        width:280px;
    }
}
@media all and (min-width:375px){
    section#main{
        width: 330px;
    }
}
@media all and (min-width:768px){
    section#main{
        width: 380px;
    }
}